.failed-test-case-display {
  border: 1px solid #00000088;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
}
.failed-test-case-display .screenshot-container {
  display: flex;
}
.failed-test-case-display .screenshot-container .screenshot {
  display: flex;
  flex-direction: column;
}
.failed-test-case-display .screenshot-container .screenshot h4 {
  text-align: center;
}
.failed-test-case-display .screenshot-container .screenshot canvas {
  width: 25vw;
  border-radius: 10px;
  border: 3px solid black;
  margin: 10px;
}

.test-graphs-container > * {
  margin: 20px;
}

.test-graphs-container .dcg-container {
  border-radius: 15px;
}
