body {
  font-family: sans-serif;
  --background-color: #ffffff;
  --foreground-color: #000000;
  --border-color: #00000088;
  --highlight-color: #eeeeee;
  --link-color: #388c46;

  background-color: var(--background-color);
  color: var(--foreground-color);
}

body.dark {
  --background-color: #121212;
  --foreground-color: #ffffff;
  --border-color: #ffffff88;
  --highlight-color: #333333;
  --link-color: #83dc92;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

input {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 10px;
  color: var(--foreground-color);
}
